.terraform/

*terraform.tfstate*
*gitlab-secret.tf*
*/*tfvars*
*/do_ssh_key.sh
*/rebrain_do_ssh_key_answ.json
*/rebrain_ssh_key.pub
*/rebrain.pub
try/
*/alt_devs.txt
*/devs.txt
*/*.retry
**example.tfvars
**ansible_vault
**.log
*/*.log
**.vagrant
ops-28/viktor-bushmin-ops-28-node-2.json
ops-28/supplemental/ansible/roles/geerlingguy.nginx/meta/.galaxy_install_infos
.vscode/
classes/
generated-sources/
maven-archiver/
surefire-reports/
dependency/
generated-test-sources/
maven-status/
test-classes/